:root {
    --main-bg-color0: #202041;
    --main-bg-color1: #7371FC;
    --main-bg-color2: #A594F9;
    --main-bg-color3: #CDC1FF;
    --main-bg-color4: #F5EFFF;
    --main-bg-color5: #e0dce6;
}

body {
    background-color: var(--main-bg-color5) !important;
}

button, input[type=button] {
    background-color: var(--main-bg-color2) !important;
    border-color: var(--main-bg-color2) !important;
    box-shadow: 1px 1px 1px var(--main-bg-color3);
}

button:focus, input[type=button]:focus {
    box-shadow: 0 0 0 0.2rem var(--main-bg-color4) !important;

}

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

/**************************
동적으로 keyword 버튼 리스트
**************************/
#div-keyword {
    text-align: center;
    margin-top: 2%;
}

#div-keyword>input {
    margin: 2px;
}

/* #div-keyword>input:nth-child(1) {
    background-color: var(--main-bg-color1) !important;
    border-color: var(--main-bg-color1) !important;
    box-shadow: 1px 1px 1px var(--main-bg-color2);
} */

/**************************
동적으로 검색 결과 div 리스트
**************************/

#job-list-div {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

#job-list-div>div {
    width: 80% !important;
}

.job--desc--head {
    color: var(--main-bg-color0);
}

.job--recommend {
    background-color: var(--main-bg-color2) !important;
    color: #fff !important;
    cursor: pointer !important;
}

.job--desc {
    font-size: 1.1rem;
    font-weight: bold;
}

/**************************
전세영 개새끼 아래 CSS 수듄
**************************/

/* .btn:not(:disabled):not(.disabled) {
    cursor: auto !important;
} */

.btn-a-brc-tp:not(.disabled):not(:disabled).active, .btn-brc-tp, .btn-brc-tp:focus:not(:hover):not(:active):not(.active):not(.dropdown-toggle), .btn-h-brc-tp:hover, .btn.btn-f-brc-tp:focus, .btn.btn-h-brc-tp:hover {
    border-color: transparent;
}

.btn-outline-blue {
    color: #0d6ce1;
    border-color: #5a9beb;
    background-color: transparent;
}

.btn {
    position: relative;
    z-index: auto;
    border-radius: .175rem;
    transition: color .15s, background-color .15s, border-color .15s, box-shadow .15s, opacity .15s;
}

.border-2 {
    border-width: 2px !important;
    border-style: solid !important;
    border-color: transparent;
}

.bgc-white {
    background-color: #fff !important;
}


.text-green-d1 {
    color: #277b5d !important;
}

.letter-spacing {
    letter-spacing: .5px !important;
}

.font-bolder, .text-600 {
    font-weight: 600 !important;
}

.text-170 {
    font-size: 1.7em !important;
}

.text-primary-d1 {
    color: #276ab4 !important;
}

.text-secondary-d1 {
    color: #5f718b !important;
}

.text-180 {
    font-size: 1.8em !important;
}

.text-150 {
    font-size: 1.5em !important;
}

.text-danger-m3 {
    color: #e05858 !important;
}

.rotate-45 {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.position-l {
    left: 0;
}

.position-b, .position-bc, .position-bl, .position-br, .position-center, .position-l, .position-lc, .position-r, .position-rc, .position-t, .position-tc, .position-tl, .position-tr {
    position: absolute !important;
    display: block;
}

.mt-n475, .my-n475 {
    margin-top: -2.5rem !important;
}

.ml-35, .mx-35 {
    margin-left: 1.25rem !important;
}

.text-dark-l1 {
    color: #56585e !important;
}

.text-90 {
    font-size: .9em !important;
}

.text-left {
    text-align: left !important;
}

.mt-25, .my-25 {
    margin-top: .75rem !important;
}

.text-110 {
    font-size: 1.1em !important;
}

.deleted-text {
    text-decoration: line-through;
}

/*
    main board
*/

#main-board {
    align-content: center !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 0% !important;
}

.order-card {
    color: #fff;
}

.bg-c-blue {
    background: linear-gradient(45deg, #4099ff, #73b4ff);
}

.bg-c-green {
    background: linear-gradient(45deg, #2ed8b6, #59e0c5);
}

.bg-c-yellow {
    background: linear-gradient(45deg, #FFB64D, #ffcb80);
}

.bg-c-pink {
    background: linear-gradient(45deg, #FF5370, #ff869a);
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card .card-block {
    padding: 25px;
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

/*
    paging
*/

.pagination {
    justify-content: center !important;
}

.paging-div {
    padding: 15px 0 5px 10px;
    display: table;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.paging-div>ul>li {
    background-color: var(--main-bg-color5);
}

.page-item.active .page-link {
    background-color: var(--main-bg-color1) !important;
    border-color: var(--main-bg-color1) !important;
}

.paging-div>ul>li>a {
    color: var(--main-bg-color1);
}

.page-item.first,
.page-item.last {
    margin-left: 20%;
    margin-right: 20%;
}

.page-item.first>a,
.page-item.last>a {
    border: none;
    border-radius: 50% !important;
}

.page-item.prev>a {
    border-radius: 50% 0 0 50%;
}

.page-item.next>a {
    border-radius: 0 50% 50% 0;
}